@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image:  url('../public/bg-marist.jpg');
    background-position:  center;
    background-repeat:  no-repeat;
    background-size:  cover;
}